*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family:  sans-serif;
    color: rgba(0, 0, 0, 0.726);
    
}

.weather__app{
    margin: 18px auto 0px;
    width: 420px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(129, 129, 255), white);
}
.weather__title{
    padding: 12px;
    text-align: center;
}
.weather__input{
    padding: 12px;
    text-align: center;
}
input{
    height: 36px;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}
.weatherWrapper{
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.weather__info,
.city__info{
    width: 50%;
}
.wether__info__weather{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wether__info__weather img{
    width: 80px;
    height: 100%;
}
.temp{
    font-size: 26px;
}
.condition{
   padding: 10px;
   text-align: center;
   font-weight: bold;
   font-size: 22px;
}
.city__info h2,
.city__info p{
    text-align: center;
    padding: 10px;
}
.footer{
    padding: 10px;
    text-align: center;
}